/* ===========================
   GOOGLE FONT
=========================== */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');


/* ===========================
   CSS VARIABLES
=========================== */

:root{

    --primary:#5865F2;
    --primary-hover:#4752C4;

    --background:#1e1f22;
    --card:#313338;
    --card-light:#383A40;

    --border:#3f4147;

    --text:#F2F3F5;
    --text-light:#DBDEE1;
    --muted:#B5BAC1;

    --success:#23A559;
    --danger:#ED4245;
    --warning:#FAA81A;

    --shadow:0 20px 45px rgba(0,0,0,.45);

    --radius:12px;

}


::selection{

    background:#5865F2;

    color:white;

}

img{

    display:block;

    max-width:100%;

    user-select:none;

    -webkit-user-drag:none;

}


/* ===========================
   RESET
=========================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{

    font-family:'Inter',sans-serif;

    background:var(--background);

    color:var(--text);

    min-height:100vh;

    overflow-x:hidden;

    -webkit-font-smoothing:antialiased;

    -moz-osx-font-smoothing:grayscale;

}

/* ===========================
   LINKS
=========================== */

a{

    text-decoration:none;

    color:var(--primary);

    transition:.25s;

}

a:hover{

    color:#7b86ff;

}


/* ===========================
   IMAGES
=========================== */

img{

    display:block;

    max-width:100%;

}


/* ===========================
   INPUTS
=========================== */

input,
select,
button,
textarea{

    font-family:inherit;

    outline:none;

}


/* ===========================
   CONTAINER
=========================== */

.container{

    width:min(1280px,92%);

    margin:auto;

}

/* ===========================
   UTILITIES
=========================== */

.text-center{

    text-align:center;

}

.mt-1{

    margin-top:10px;

}

.mt-2{

    margin-top:20px;

}

.mt-3{

    margin-top:30px;

}

.hidden{

    display:none;

}

.flex{

    display:flex;

}

.flex-center{

    display:flex;

    justify-content:center;

    align-items:center;

}

.w-100{

    width:100%;

}

.h-100{

    height:100%;

}

.round{

    border-radius:50%;

}

.pointer{

    cursor:pointer;

}